# KPI - Statlig medel

In [14]:
import pandas as pd 

df = pd.read_csv("data/utbetalda_statlig_medel_2020_2024.csv")
df

,Unnamed: 0,Utbildningsområde,2020,2021,2022,2023,2024
0,0,Data/IT,356.0,500.0,566.0,601.0,665.0
1,1,"Ekonomi, administration och försäljning",626.0,678.0,665.0,645.0,664.0
2,2,Friskvård och kroppsvård,16.0,18.0,23.0,23.0,17.0
3,3,"Hotell, restaurang och turism",103.0,116.0,110.0,96.0,100.0
4,4,Hälso- och sjukvård samt socialt arbete,310.0,356.0,377.0,359.0,340.0
5,5,Journalistik och information,30.0,29.0,29.0,26.0,23.0
6,6,Juridik,17.0,17.0,13.0,11.0,12.0
7,7,"Kultur, media och design",158.0,186.0,200.0,214.0,231.0
8,8,"Lantbruk, djurvård, trädgård, skog och fiske",83.0,91.0,104.0,112.0,127.0
9,9,Pedagogik och undervisning,51.0,67.0,75.0,64.0,46.0
10,10,Samhällsbyggnad och byggteknik,419.0,518.0,544.0,513.0,530.0
11,11,Säkerhetstjänster,16.0,22.0,25.0,28.0,29.0
12,12,Teknik och tillverkning,431.0,522.0,538.0,541.0,619.0
13,13,Transporttjänster,107.0,101.0,103.0,96.0,96.0
14,14,Övrigt,27.0,31.0,36.0,32.0,29.0
15,15,Totalt,2749.0,3250.0,3408.0,3362.0,3530.0
16,16,NaN,NaN,NaN,NaN,NaN,NaN
17,17,Notera: Avser endast program (YH-utbildningar ...,NaN,NaN,NaN,NaN,NaN
18,18,NaN,NaN,NaN,NaN,NaN,NaN
19,19,Källa: Myndigheten för yrkeshögskolan.,NaN,NaN,NaN,NaN,NaN

In [15]:
df['2024'].sum()

np.float64(7058.0)

In [16]:
df.iloc[:16]

,Unnamed: 0,Utbildningsområde,2020,2021,2022,2023,2024
0,0,Data/IT,356.0,500.0,566.0,601.0,665.0
1,1,"Ekonomi, administration och försäljning",626.0,678.0,665.0,645.0,664.0
2,2,Friskvård och kroppsvård,16.0,18.0,23.0,23.0,17.0
3,3,"Hotell, restaurang och turism",103.0,116.0,110.0,96.0,100.0
4,4,Hälso- och sjukvård samt socialt arbete,310.0,356.0,377.0,359.0,340.0
5,5,Journalistik och information,30.0,29.0,29.0,26.0,23.0
6,6,Juridik,17.0,17.0,13.0,11.0,12.0
7,7,"Kultur, media och design",158.0,186.0,200.0,214.0,231.0
8,8,"Lantbruk, djurvård, trädgård, skog och fiske",83.0,91.0,104.0,112.0,127.0
9,9,Pedagogik och undervisning,51.0,67.0,75.0,64.0,46.0
10,10,Samhällsbyggnad och byggteknik,419.0,518.0,544.0,513.0,530.0
11,11,Säkerhetstjänster,16.0,22.0,25.0,28.0,29.0
12,12,Teknik och tillverkning,431.0,522.0,538.0,541.0,619.0
13,13,Transporttjänster,107.0,101.0,103.0,96.0,96.0
14,14,Övrigt,27.0,31.0,36.0,32.0,29.0
15,15,Totalt,2749.0,3250.0,3408.0,3362.0,3530.0

In [17]:
df.describe()

,Unnamed: 0,2020,2021,2022,2023,2024
count,20.00000,16.000000,16.000000,16.000000,16.000000,16.000000
mean,9.50000,343.687500,406.375000,426.000000,420.187500,441.125000
std,5.91608,668.432965,790.417601,827.991465,817.479151,860.375412
min,0.00000,16.000000,17.000000,13.000000,11.000000,12.000000
25%,4.75000,29.250000,30.500000,34.250000,31.000000,29.000000
50%,9.50000,105.000000,108.500000,107.000000,104.000000,113.500000
75%,14.25000,371.750000,504.500000,539.500000,520.000000,552.250000
max,19.00000,2749.000000,3250.000000,3408.000000,3362.000000,3530.000000

In [18]:
df.dtypes

Unnamed: 0             int64
Utbildningsområde     object
2020                 float64
2021                 float64
2022                 float64
2023                 float64
2024                 float64
dtype: object

In [19]:
df_total = df[df['Utbildningsområde'] != 'Totalt']
df_total

,Unnamed: 0,Utbildningsområde,2020,2021,2022,2023,2024
0,0,Data/IT,356.0,500.0,566.0,601.0,665.0
1,1,"Ekonomi, administration och försäljning",626.0,678.0,665.0,645.0,664.0
2,2,Friskvård och kroppsvård,16.0,18.0,23.0,23.0,17.0
3,3,"Hotell, restaurang och turism",103.0,116.0,110.0,96.0,100.0
4,4,Hälso- och sjukvård samt socialt arbete,310.0,356.0,377.0,359.0,340.0
5,5,Journalistik och information,30.0,29.0,29.0,26.0,23.0
6,6,Juridik,17.0,17.0,13.0,11.0,12.0
7,7,"Kultur, media och design",158.0,186.0,200.0,214.0,231.0
8,8,"Lantbruk, djurvård, trädgård, skog och fiske",83.0,91.0,104.0,112.0,127.0
9,9,Pedagogik och undervisning,51.0,67.0,75.0,64.0,46.0
10,10,Samhällsbyggnad och byggteknik,419.0,518.0,544.0,513.0,530.0
11,11,Säkerhetstjänster,16.0,22.0,25.0,28.0,29.0
12,12,Teknik och tillverkning,431.0,522.0,538.0,541.0,619.0
13,13,Transporttjänster,107.0,101.0,103.0,96.0,96.0
14,14,Övrigt,27.0,31.0,36.0,32.0,29.0
16,16,NaN,NaN,NaN,NaN,NaN,NaN
17,17,Notera: Avser endast program (YH-utbildningar ...,NaN,NaN,NaN,NaN,NaN
18,18,NaN,NaN,NaN,NaN,NaN,NaN
19,19,Källa: Myndigheten för yrkeshögskolan.,NaN,NaN,NaN,NaN,NaN

In [20]:
def total2024(df):
    df_total = df[df['Utbildningsområde'] != 'Totalt']
    return df_total['2024'].sum()

total_results_2024 = total2024(df)
print(total_results_2024)

3528.0

In [21]:
def total2023(df):
    df_total = df[df['Utbildningsområde'] != 'Totalt']
    return df_total['2023'].sum()

total_results_2023 = total2023(df)
print(total_results_2023)

3361.0

In [22]:
def total2022(df):
    df_total = df[df['Utbildningsområde'] != 'Totalt']
    return df_total['2022'].sum()

total_results_2022 = total2022(df)
print(total_results_2022)

3408.0

In [23]:
def total2021(df):
    df_total = df[df['Utbildningsområde'] != 'Totalt']
    return df_total['2021'].sum()

total_results_2021 = total2021(df)
print(total_results_2021)

3252.0

In [24]:
def total2020(df):
    df_total = df[df['Utbildningsområde'] != 'Totalt']
    return df_total['2020'].sum()

total_results_2020 = total2020(df)
print(total_results_2020)

2750.0

In [26]:
df_total_years = total_results_2020 + total_results_2021 + total_results_2022 + total_results_2023 + total_results_2024
print(df_total_years)

16299.0